<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Db" connectionString="Data Source=localhost\\MSSQLSERVER01;                            Initial Catalog=StudyDocs;                            Integrated Security=True;                            TrustServerCertificate=True" />
    <!-- Nếu dùng SQL Auth:
    <add name="Db"
         connectionString="Data Source=192.168.1.10\\SQLEXPRESS,1433;
                           Initial Catalog=StudyDocs;
                           User ID=studydocs; Password=YourStrongPwd!;
                           Encrypt=True; TrustServerCertificate=True" />
    -->
  </connectionStrings>
  <appSettings>
    <!-- Giới hạn kích thước upload (MB) -->
    <add key="MaxUploadMB" value="50" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>